<div class="admin-contacts-section">
    <div class="form-field">
        <h3 class="form-subsection-title">{{t 'contact_section'}}</h3>
    </div>
    <div class="admin-contacts-list" data-contacts-list></div>
    <button type="button" class="btn-admin btn-admin-secondary btn-admin-with-icon admin-add-contact-btn" data-add-contact>
        {{{adminIcon 'add' class='btn-admin-inline-icon'}}}{{t 'contact_add'}}
    </button>
</div>
