<div class="master-login-page">
    <div class="master-login-card">
        <div class="master-login-header">
            <span class="master-brand-badge">PLATFORM</span>
            <h1>Master Admin</h1>
            <p>Manage all synagogue memorial communities</p>
        </div>
        <div class="master-login-body">
            {{#if error}}
            <div class="master-alert master-alert-danger">{{error}}</div>
            {{/if}}
            <form method="POST" action="/master/login" class="master-form">
                <div class="form-group">
                    <label for="password">Master password</label>
                    <input type="password" name="password" id="password" class="form-control master-input" required autocomplete="current-password">
                </div>
                <button type="submit" class="btn master-btn master-btn-primary master-btn-block">Sign in</button>
            </form>
        </div>
    </div>
</div>
