@import 'common';

.card-view {
  width: calc(100% - 60px);
  height: 95vh !important;
  display: flex;
  align-items: center;
  justify-content: center;

  .golden-panel {
    margin: 50px 150px;
  }

  .text {
    vertical-align: top;
    width: 100%;
    padding: 0 80px;

    h1 {
      text-align: center;
      font-size: 50px;
      @include golden-text-mixin;
      font-weight: bold;
    }

    .inner-text {
      margin: 50px 0px;
      font-size: 25px;
      color: white;
      line-height: 40px;
    }
  }

  .photo-container {
    padding: 50px 120px;
    vertical-align: top;
  }
}